<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SIGEPRO{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        @media (max-width: 600px) {
            .input-field select {
                display: inline-block;
            }
            .select-wrapper input.select-dropdown {
                display: none;
            }
            .select-wrapper ul.dropdown-content {
                display: none;
            }
        }
    </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue darken-3">
            <a href="#" class="brand-logo">SIGEPRO</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
                <li><a href="{{ url_for('subir_documentos') }}">Documentos del Proyecto</a></li>
                <li><a href="{{ url_for('seleccionar_taller') }}">Ficha de Supervisión</a></li>
                <li><a href="{{ url_for('index') }}">Consulta de Proyectos</a></li>
                <li><a href="{{ url_for('crear_reporte') }}">Crear Reporte</a></li>
                <li><a href="{{ url_for('exportar_excel') }}">Descargar DB.xls</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
        <li><a href="{{ url_for('subir_documentos') }}">Documentos del Proyecto</a></li>
        <li><a href="{{ url_for('seleccionar_taller') }}">Ficha de Supervisión</a></li>
        <li><a href="{{ url_for('index') }}">Consulta de Proyectos</a></li>
        <li><a href="{{ url_for('crear_reporte') }}">Crear Reporte</a></li>
        <li><a href="{{ url_for('exportar_excel') }}">Descargar DB.xls</a></li>
    </ul>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='materialize.min.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</body>
</html>
